* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reusable code */

$title-font: "Libre Baskerville", serif;
$text-font: "Source Sans Pro", sans-serif;
$primary-color: #fff4bd;
$secondary-color: #afc1d6;
$dark-color: #2c2c2c;
$light-color: #fff;
$grey-color: #5b616a;

@mixin section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 120px 40px;
}

@mixin container($flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
  max-width: 1196px;
  width: 100%;
}

@mixin title($title-color: $dark-color) {
  color: $title-color;
  font-family: $title-font;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px;
  span {
    background-image: linear-gradient(rgb(255, 244, 189), rgb(255, 244, 189));
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 100% 10px;
  }
}

@mixin text($text-color: $dark-color, $margin-bottom: 60px) {
  color: $text-color;
  font-family: $text-font;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: $margin-bottom;
}

@mixin cta($background-color: $primary-color, $text-color: $dark-color) {
  background-color: $background-color;
  border-radius: 10px;
  color: $text-color;
  font-family: $text-font;
  font-weight: 600;
  padding: 16px 32px;
  size: 18px;
  text-decoration: none;
}

/* Header styles */

header {
  align-items: center;
  background-image: url("../adopt-me/images/background-image.jpg");
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0 40px;
  .header-container {
    @include container();
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .navbar {
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .brand-name {
        color: $light-color;
        font-family: "Spartan", sans-serif;
        font-size: 25px;
      }
      .menu {
        display: flex;
        .menu-item {
          font-family: $text-font;
          list-style-type: none;
          margin: 0 20px;
          .menu-link {
            color: $light-color;
            font-size: 18px;
            text-decoration: none;
          }
        }
      }
      .search-button {
        background-color: $light-color;
        border: none;
        border-radius: 50%;
        color: $dark-color;
        padding: 16px;
      }
    }
    .header-text-container {
      flex-direction: column;
      .title {
        color: $light-color;
        font-family: $title-font;
        font-size: 70px;
        line-height: 1;
        margin-bottom: 60px;
        max-width: 600px;
        width: 100%;
      }
      .cta {
        @include cta();
      }
    }
    .header-icons {
      display: flex;
      justify-content: flex-start;
      i {
        color: $light-color;
        font-size: 25px;
        margin: 20px 10px;
      }
    }
  }
}

/* About section styles */

.about-section {
  @include section();
  background-color: #f5f6f7;
  .section-container {
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    width: 100%;
    .title {
      @include title();
    }
    .description {
      @include text();
    }
    .cta {
      @include cta();
    }
  }
}

/* Pet section styles */

.pet-section {
  @include section();
  .section-container {
    @include container();
    align-items: center;
    .title {
      @include title();
    }
    .pet-gallery {
      display: flex;
      flex-wrap: wrap;
      .pet {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 30px;
        max-width: calc(100% / 3 - (30px * 2));
        .pet-image {
          border-radius: 10px;
          margin-bottom: 20px;
        }
        .pet-name {
          color: $dark-color;
          font-family: $text-font;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    .cta {
      @include cta();
      margin-top: 30px;
    }
  }
}

/* Stories section styles */

.stories-section {
  @include section();
  background-color: $grey-color;
  border-left: 60px solid $light-color;
  .section-container {
    @include container($flex-direction: row);
    align-items: center;
    justify-content: space-between;
    .slider-control {
      color: $light-color;
      height: 70px;
      width: 70px;
    }
    .left-slider-control {
      transform: rotate(180deg);
    }
    .story-text-container {
      margin: 10px;
      width: 460px;
      .section-title {
        color: $light-color;
        font-family: $text-font;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .story-title {
        @include title($light-color);
      }
      .description {
        @include text($light-color);
      }
      .cta {
        @include cta();
      }
    }
    .story-image-container {
      margin: 10px;
      .story-image {
        border-radius: 10px;
        max-width: 486px;
        width: 100%;
      }
    }
  }
}

/* Testimonials section styles */

.testimonials-section {
  @include section();
  .section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 510px;
    text-align: center;
    width: 100%;
    .quote-icon {
      color: $secondary-color;
      height: 64px;
      margin-bottom: 40px;
      width: 64px;
    }
    .testimonial-text {
      @include text($margin-bottom: 40px);
    }
    .testimonial-author {
      @include text($margin-bottom: 20px);
      font-weight: bold;
    }
    .testimonials-slider {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 70px;
      .circle {
        background-color: #2c2c2c80;
        border-radius: 50px;
        height: 12px;
        width: 12px;
      }
      .active-circle {
        background-color: $dark-color;
      }
    }
  }
}

/* CTA section styles */

.cta-section {
  @include section();
  background-color: $secondary-color;
  flex-direction: column;
  text-align: center;
  .title {
    @include title($light-color);
  }
  .cta {
    @include cta();
  }
}
